/*
reset
*/

* {
    border: none;
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

button {
    all: reset;
    display: block;
    background: inherit;
}

a {
    text-decoration: inherit;
}

/*
fonts
*/

@font-face {
	font-family: 'Grotesk Neue';
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url("/fonts/FKGroteskNeue-Regular.woff") format("woff");
}

/*
variables
*/

:root {
    --100vh: 100vh;
    --background: white;
    --color: black;
}

/*
global
*/

html {
    font-size: 16px;
}

body {
    background-color: var(--background);
    color: var(--color);
    font-family: 'Grotesk Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.1;
}

body > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*
font sizes
*/

.font-s {
    font-size: 1rem;
}

body, .font-l {
    /* default media (mobile) */
    font-size: 2.5rem;
}
@media (min-width: 720px){
    /* tablet */
    body, .font-l {
        font-size: 3rem;
    }
}
@media (min-width: 1280px){
    /* laptop */
    body, .font-l {
        font-size: 3.5rem;
    }
}
@media (min-width: 1900px){
    /* desktop */
    body, .font-l {
        font-size: 4rem;
    }
}

nav.links a {
    display: block;
}

nav.links a,
a.line:hover,
p a {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 0.1em;
}

span.space {
    display: inline-block;
    width: 1em;
}